[submodule "client"]
	url = https://github.com/Davidasg180/Administrador-de-impuestos-Web-Client-Application
	path = client
[submodule "desktop-application"]
	url = https://github.com/Davidasg180/Administrador-de-impuestos-Desktop-Application.git
	path = desktop-application
